@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&family=Great+Vibes&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 41 99 116;
    --color-secondary: 98 159 173;
    --color-accent: 98 159 173;
    --color-dark: 12 44 85;
    --color-light: 240 247 249;
  }
  
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-light text-dark antialiased overflow-x-hidden;
    font-family: 'Montserrat', sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
  }
}

@layer utilities {

  .glass {
    @apply bg-white/40 backdrop-blur-md border border-white/30 shadow-lg;
  }
  .glass-dark {
    @apply bg-black/30 backdrop-blur-md border border-white/10 shadow-lg text-white;
  }
}
